.contenedor-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 0;
}

.marca {
    display: flex;
    align-items: center;
}

.contenedor-perfil {
    display: flex;
    justify-content: right;
    align-items: center;
}

.contenedor-form{
    width: 50%;
    height: auto;
    margin: 0 auto;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
}

.foto-perfil-header {
    height: 3rem;
    width: 3rem;
}

.boton-perfil {
    margin: .2rem;
}

.logo {
    height: 3rem;
}

.flecha-atras{
    height: 2rem;
    color: #fff;
    margin-top: .8rem;
}

.boton-home {
    width: 60%;
    height: 3rem;
}

.foto-perfil {
    height: 5rem;
    width: 5rem;
}

.encabezado {
    margin: 0;
}

.cuerpo-home {
    margin: 2rem;
}

.categoria {
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.respuesta {
    width: 60%;
    height: 3rem;
}

.perfil-ajeno {
    justify-content: center;
    align-items: center;
}

.center-text th, .center-text td {
    text-align: center;
    vertical-align: middle;
    padding: 8px; 
}

.qr{
    width: 9rem;
    height: 9rem;
    background-color: #fff;
    padding: .2rem;
}

.fila-correcta {
    background-color: lightgreen;
}

.fila-incorrecta {
    background-color: lightcoral;
}

.tabla-partidas {
    width: 50%;
    margin: 0 auto;
}

@media only screen
and (max-device-width: 600px)
{

    .tabla-partidas {
        width: 100%;
        margin: 0 auto;
    }

}

/* mobile only styles when the device is 0-600px in maximum width */

@media only screen
and (max-device-width: 1000px)
{

    .tabla-partidas {
        width: 100%;
        margin: 0 auto;
    }

}
