<footer class="w3-center w3-border-top w3-border-pink w3-margin">
<p>Programación web 2</p>
<p>Alarcón Lucía, Maciel Maximiliano, Castelli Garaycochea Mora y Sarmiento Pereyra Lautaro</p>
</footer>
</body>
</html>