<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/public/estilos/estilos.css">
    <title>Pregunta2</title>
    <link rel="icon" href="/public/img/logo.svg" type="image/svg+xml">
</head>
<body class="w3-light-grey">
<header class="contenedor-header w3-pale-red" >
    <div class="marca">
      <img src="/public/img/logo.svg" alt="logo" class="logo"/>
      <a href="/home/get"><h3 class="w3-left-align">Pregunta2</h3></a>
    </div>
    {{#usuario}}
    <div class="contenedor-perfil">
      <a href="/verPerfilPropio/get" class="boton-perfil w3-button w3-round-xxlarge w3-gray">Ver Perfil</a>
      <a href="/login/logout" class="boton-perfil w3-button w3-round-xxlarge w3-gray">Cerrar Sesión</a>
      {{! falsa foto de perfil que no tendría que aparecer si no estas logueado }}

        <img src="/public/img/fotoPerfil/{{foto-de-perfil}}"class="foto-perfil-header w3-circle w3-border w3-margin"  alt="/public/img/perfil_placeholder.png"/>

        {{/usuario}}
    </div>
</header>
