

<body>

<form action="/activacion/activar" method="GET">

    <input type="hidden" name="codigo" value="{{codigo}}">
    <button name="codigo" id="codigo" value="{{codigo}}" class="w3-button w3-round-xxlarge">hola</button><br><br>

</form>
</body>
</html>