

<body>

<form action="/activacion/activar" class="w3-center" method="GET">

    <input type="hidden" name="codigo" value="{{codigo}}">
    <button name="codigo" id="codigo" value="{{codigo}}" class="w3-center w3-pink w3-button w3-round-xxlarge">hola mora</button><br><br>

</form>
</body>
</html>