


<main  class="cuerpo-home w3-center">
            <form class="table-auto w-full" action="/admin/totalJugadores" method="get">
                <button type="submit" class="boton-home w3-btn w3-round-xxlarge w3-pink">Ver Cantidad de Jugadores</button>
            </form><br>

            <form class="mx-2" action="/admin/totalPartidas" method="get">
                <button type="submit" class="boton-home w3-btn w3-round-xxlarge w3-pink">Ver Cantidad de Partidas</button>
            </form><br>

            <form class="mx-2" action="/admin/totalPreguntas" method="get">
                <button type="submit" class="boton-home w3-btn w3-round-xxlarge w3-pink">Ver Cantidad de Preguntas</button>
            </form><br>

            <form class="mx-2" action="/admin/totalPreguntasCreadas" method="get">
                <button type="submit" class="boton-home w3-btn w3-round-xxlarge w3-pink">Ver Cantidad de Preguntas Creadas</button>
            </form><br>

            <form class="mx-2" action="/admin/usuariosNuevos" method="get">
                <button type="submit" class="boton-home w3-btn w3-round-xxlarge w3-pink">Ver Cantidad de Usuarios nuevos</button>
            </form><br>

             <form class="mx-2" action="/admin/totalCorrectas" method="get">
                <button type="submit" class="boton-home w3-btn w3-round-xxlarge w3-pink">Ver Cantidad de respuestas correctas por usuario</button>
            </form><br>

            <form class="mx-2" action="/admin/totalUsuariosPorPais" method="get">
                <button type="submit" class="boton-home w3-btn w3-round-xxlarge w3-pink">Ver Cantidad de Usuarios por Paises</button>
            </form><br>

            <form class="mx-2" action="/admin/totalUsuariosPorSexo" method="get">
                <button type="submit" class="boton-home w3-btn w3-round-xxlarge w3-pink">Ver Cantidad de Usuarios por sexo</button>
            </form><br>

            <form class="mx-2" action="/admin/totalUsuariosPorRango" method="get">
                <button type="submit" class="boton-home w3-btn w3-round-xxlarge w3-pink">Ver Cantidad de Usuarios por rango etario</button>
            </form><br>
</main>