<div class="container w3-center">
    {{#usuario}}
        <h2 class="encabezado w3-pink w3-center w3-padding">¡Hola {{usuario}}!</h2><br>
    {{/usuario}}
    {{^usuario}}
        <form class="login-form" action="/login/get" method="post">
            <h2 class="encabezado w3-pink w3-center w3-padding">Login</h2><br><br><br><br>
            Usuario: <input type="text" name="usuario" id="usuario" class="w3-round-xxlarge"><br><br>
            Password: <input type="password" name="password" id="password" class="w3-round-xxlarge"><br><br>
            <input type="submit" value="Login" class="w3-button w3-round-xxlarge w3-gray">
            <a class="register-link w3-button w3-round-xxlarge w3-gray" href="/registro/get">Registrarse</a><br><br><br><br>
        </form>
    {{/usuario}}

    {{#error}}
        <div class="errors w3-panel w3-light-blue w3-border">
            <span onclick="this.parentElement.style.display='none'" class="w3-button w3-right">&times;</span>
            <p>{{error}}</p>
        </div>
    {{/error}}
</div>


<main class="cuerpo-home w3-center">
    {{#isJugador}}
        <a href="/juego/iniciarPartida" class="boton-home w3-btn w3-round-xxlarge w3-pink">Jugar Partida Normal</a><br><br>
        <a href="/juego/versusBot" class="boton-home w3-btn w3-round-xxlarge w3-pink">Jugar contra Bot</a><br><br>
        <a href="/ranking/get" class="boton-home w3-btn w3-round-xxlarge w3-pink">Ver Ranking</a><br><br>
    <a href="/tienda/get" class="boton-home w3-btn w3-round-xxlarge w3-pink">Tienda</a><br><br>
        <button type="button" class="boton-home w3-btn w3-round-xxlarge w3-pink" onclick="abrirPopup()">Sugerir Pregunta</button><br><br>


    <h3 class="w3-center">Tu puntuación más alta es : {{puntuacion}}</h3>
    <h3 class="w3-center">Tus ultimas partidas</h3>
    <ul class="w3-ul">
        {{#partidasUsuario}}
        <li class="w3-bar w3-card w3-margin-bottom w3-pale-red">
            <div class="w3-bar-item">
                <span class="w3-large">{{fecha_creacion_partida}}</span><br>
                <span>Puntaje: <b>{{puntaje}}</b></span>
            </div>
        </li>
        {{/partidasUsuario}}
    </ul>

    {{^partidasUsuario}} <!-- Verifica si partidasUsuario está vacío -->
    <p>Aún no ha jugado ninguna partida. <a href="/juego/iniciarPartida" >Jugá ahora</a>.</p>
    {{/partidasUsuario}}


    <div id="popupSugerir" class="w3-modal" style="display:none;">
            <div class="w3-modal-content w3-animate-zoom">
                <div class="w3-container w3-padding">
                    <span onclick="cerrarPopup()" class="w3-button w3-display-topright">&times;</span>
                    {{#mensajePregunta}}
                        <h2 class="w3-center">{{mensajePregunta}}</h2>
                        <button onclick="cerrarPopup()" class="w3-button w3-block w3-pink w3-margin-top">Cerrar</button>
                    {{/mensajePregunta}}
                    {{^mensajePregunta}}
                        <h2 class="w3-center">Sugerir Pregunta</h2>
                        <form id="suggestQuestionForm" action="/SuggestQuestion/post" method="POST" class="w3-container">
                            <input type="hidden" name="id" id="idPregunta">
                            <label for="question">Pregunta:</label>
                            <input type="text" id="question" name="question" required><br><br>
                            <label for="correctAnswer">Respuesta Correcta:</label>
                            <input type="text" id="correctAnswer" name="correctAnswer" required><br><br>
                            <label for="wrongAnswer1">Respuesta Incorrecta 1:</label>
                            <input type="text" id="wrongAnswer1" name="wrongAnswer1" required><br><br>
                            <label for="wrongAnswer2">Respuesta Incorrecta 2:</label>
                            <input type="text" id="wrongAnswer2" name="wrongAnswer2" required><br><br>
                            <label for="wrongAnswer3">Respuesta Incorrecta 3:</label>
                            <input type="text" id="wrongAnswer3" name="wrongAnswer3" required><br><br>
                            <label for="sugerirCategoria">Categoría:</label>
                            <select id="sugerirCategoria" name="sugerirCategoria" required>
                                <option value="Geografía">Geografía</option>
                                <option value="Ciencia">Ciencia</option>
                                <option value="Historia">Historia</option>
                                <option value="Deporte">Deporte</option>
                                <option value="Arte">Arte</option>
                                <option value="Entretenimiento">Entretenimiento</option>
                            </select><br><br>
                            <input type="submit" value="Sugerir" class="w3-button w3-block w3-pink">
                        </form>
                    {{/mensajePregunta}}
                </div>
            </div>
        </div>
    {{/isJugador}}


    {{#isEditor}}
        <a href="/edicion/verPreguntas" class="boton-home w3-btn w3-round-xxlarge w3-pink">Modificar Preguntas</a><br><br>
        <a href="/edicion/verPreguntasReportadas" class="boton-home w3-btn w3-round-xxlarge w3-pink">Preguntas Reportadas</a><br><br>
        <a href="/edicion/verPreguntasSugeridas" class="boton-home w3-btn w3-round-xxlarge w3-pink">Preguntas Sugeridas</a><br><br>
    {{/isEditor}}

    {{#isAdministrador}}
    <form class="table-auto w-full" action="/admin/totalJugadores" method="get">
        <button type="submit" class="boton-home w3-btn w3-round-xxlarge w3-pink">Ver Cantidad de Jugadores</button>
    </form><br>

    <form class="mx-2" action="/admin/totalPartidas" method="get">
        <button type="submit" class="boton-home w3-btn w3-round-xxlarge w3-pink">Ver Cantidad de Partidas</button>
    </form><br>

    <form class="mx-2" action="/admin/totalPreguntas" method="get">
        <button type="submit" class="boton-home w3-btn w3-round-xxlarge w3-pink">Ver Cantidad de Preguntas</button>
    </form><br>

    <form class="mx-2" action="/admin/totalPreguntasCreadas" method="get">
        <button type="submit" class="boton-home w3-btn w3-round-xxlarge w3-pink">Ver Cantidad de Preguntas Creadas</button>
    </form><br>

    <form class="mx-2" action="/admin/usuariosNuevos" method="get">
        <button type="submit" class="boton-home w3-btn w3-round-xxlarge w3-pink">Ver Cantidad de Usuarios nuevos</button>
    </form><br>

    <form class="mx-2" action="/admin/totalCorrectas" method="get">
        <button type="submit" class="boton-home w3-btn w3-round-xxlarge w3-pink">Ver Cantidad de respuestas correctas por usuario</button>
    </form><br>

    <form class="mx-2" action="/admin/totalUsuariosPorPais" method="get">
        <button type="submit" class="boton-home w3-btn w3-round-xxlarge w3-pink">Ver Cantidad de Usuarios por Paises</button>
    </form><br>

    <form class="mx-2" action="/admin/totalUsuariosPorSexo" method="get">
        <button type="submit" class="boton-home w3-btn w3-round-xxlarge w3-pink">Ver Cantidad de Usuarios por sexo</button>
    </form><br>

    <form class="mx-2" action="/admin/totalUsuariosPorRango" method="get">
        <button type="submit" class="boton-home w3-btn w3-round-xxlarge w3-pink">Ver Cantidad de Usuarios por rango etario</button>
    </form><br>
    {{/isAdministrador}}
</main>

<!-- Pop-up para cuenta activada -->
{{#cuentaActivada}}
<div id="popupBackground" class="w3-round-xxlarge" style="display: block; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.5); z-index: 500;"></div>
<div id="mensajePopup" style="display: block; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: white; padding: 20px; border-radius: 10px; z-index: 501;">
    <h3 class="w3-center">{{mensajeCuentaActivada}}</h3>
    <button id="cerrarPopupCuenta" class="w3-button w3-round-xxlarge w3-pink">Cerrar</button>
</div>
{{/cuentaActivada}}

<script>
    function abrirPopup() {
        document.getElementById('popupSugerir').style.display = 'block';
    }

    function cerrarPopup() {
        document.getElementById('popupSugerir').style.display = 'none';
    }
</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var popupBackground = document.getElementById('popupBackground');
        var mensajePopup = document.getElementById('mensajePopup');
        var cerrarPopup = document.getElementById('cerrarPopupCuenta');

        // Verificar si hay un mensaje de cuenta activada para mostrar
        var cuentaActivada = {{cuentaActivada}}; // Asegúrate de que cuentaActivada sea un valor booleano

        if (cuentaActivada) {
            popupBackground.style.display = 'block';
            mensajePopup.style.display = 'block';

            // Cerrar el popup al hacer clic en el botón Cerrar
            cerrarPopup.addEventListener('click', function() {
                popupBackground.style.display = 'none';
                mensajePopup.style.display = 'none';
            });
        }
    });
</script>