<h1 class="encabezado w3-pink w3-center w3-padding">Tus Partidas</h1><br><br>

{{#partidas}}
    <h2 class="w3-center">Partida {{id}}</h2>
    <table class="w3-table-all w3-centered w3-card-4 w3-margin-bottom">
        <thead>
        <tr class="w3-pink">
            <th>ID</th>
            <th>Pregunta</th>
            <th>Categoría</th>
            <th>Respuesta Correcta</th>
        </tr>
        </thead>
        <tbody>
        {{#preguntas}}
            <tr class="{{#se_respondio_bien}}correcta{{/se_respondio_bien}}{{^se_respondio_bien}}incorrecta{{/se_respondio_bien}}">
                <td>{{id}}</td>
                <td>{{pregunta}}</td>
                <td>{{categoria}}</td>
                <td>{{respuesta_correcta}}</td>
            </tr>
        {{/preguntas}}
        </tbody>
    </table>
    {{#ultima_pregunta_fallida}}
        <p class="w3-center ultimo-error">Última pregunta fallida: {{pregunta}}</p>
    {{/ultima_pregunta_fallida}}
    <br>
{{/partidas}}

<div class="w3-center">
    {{#totalPaginas}}
        <div class="w3-bar">
            {{#paginaAnterior}}
                <a href="/verPartidas/get?page={{paginaAnterior}}" class="w3-button">&laquo; Anterior</a>
            {{/paginaAnterior}}
            {{#paginas}}
                <a href="/verPartidas/get?page={{.}}" class="w3-button {{#esPaginaActual}}w3-pink{{/esPaginaActual}}">{{.}}</a>
            {{/paginas}}
            {{#paginaSiguiente}}
                <a href="/verPartidas/get?page={{paginaSiguiente}}" class="w3-button">Siguiente &raquo;</a>
            {{/paginaSiguiente}}
        </div>
    {{/totalPaginas}}
</div>

<a href="/verPerfilPropio/get" class="w3-button w3-round-xxlarge w3-gray">Volver al Perfil</a>