<h1 class="encabezado w3-pink w3-center w3-padding">Tu perfil</h1><br><br>

<div class="w3-center" id="infoNoForm">
 <img src="/public/img/fotoPerfil/{{foto_de_perfil}}" class="foto-perfil w3-circle w3-border w3-margin"/><br>
<h3>{{nombre_de_usuario}}</h3>
<p>({{nombre}} {{apellido}} | {{sexo}})</p>
<p>Año de nacimiento: {{ano_de_nacimiento}}</p>
<p>Correo electrónico: {{mail}}</p>
<p>País: {{pais}}</p>
<p>Ciudad: {{ciudad}}</p>

</div>