<div class="perfil-ajeno">
   <div class="encabezado-perfil-ajeno w3-pink">
      <img src="/public/img/fotoPerfil/{{foto_de_perfil}}" class="foto-perfil-header w3-circle w3-border w3-margin"/>
      <h1>{{nombre_de_usuario}}</h1>
   </div>
   <p>Nombre completo: {{nombre}} {{apellido}}</p>
   <p>Año de nacimiento: {{ano_de_nacimiento}}</p>

</div>