<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Presentar Datos</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>

<div class="w3-container">

    <div class="w3-container">
    <h2>Generar Gráfico</h2>
    <form method="post">
        <label>Fecha Inicio: </label>
        <input type="date" name="dateFrom" required>
        <label>Fecha Fin: </label>
        <input type="date" name="dateTo" required>
        <button type="submit">Generar Gráfico</button>
    </form>

        <h1>Gráfico de Datos</h1>
        {{#totalJugadores}}
            <img src="\public\img\grafico\{{totalJugadores}}" alt="Gráfico">
        {{/totalJugadores}}

        {{#totalPartidas}}
            <img src="\public\img\grafico\{{totalPartidas}}" alt="Gráfico">
        {{/totalPartidas}}

        {{#totalPreguntas}}
            <img src="\public\img\grafico\{{totalPreguntas}}" alt="Gráfico">
        {{/totalPreguntas}}

        {{#totalPreguntasCreadas}}
            <img src="\public\img\grafico\{{totalPreguntasCreadas}}" alt="Gráfico">
        {{/totalPreguntasCreadas}}

        {{#usuariosNuevos}}
            <img src="\public\img\grafico\{{usuariosNuevos}}" alt="Gráfico">
        {{/usuariosNuevos}}

        {{#totalCorrectas}}
            <img src="\public\img\grafico\{{totalCorrectas}}" alt="Gráfico">
        {{/totalCorrectas}}

        {{#totalUsuariosPorPais}}
            <img src="\public\img\grafico\{{totalUsuariosPorPais}}" alt="Gráfico">
        {{/totalUsuariosPorPais}}

        {{#totalUsuariosPorSexo}}
            <img src="\public\img\grafico\{{totalUsuariosPorSexo}}" alt="Gráfico">
        {{/totalUsuariosPorSexo}}

        {{#totalUsuariosPorRango}}
            <img src="\public\img\grafico\{{totalUsuariosPorRango}}" alt="Gráfico">
        {{/totalUsuariosPorRango}}

    </div>
</div>
<div class="w3-center">
    <a  href="/home/get" class="boton-perfil w3-button w3-round-xxlarge w3-gray">Atras</a>
</div>

</body>
</html>
