<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Presentar Datos</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>

<div class="w3-container">

    <div class="w3-container">
    <h2>Generar Gráfico</h2>
    <form action="/admin/totalJugadores" method="post">
        <label>Fecha Inicio: </label>
        <input type="date" name="dateFrom" required>
        <label>Fecha Fin: </label>
        <input type="date" name="dateTo" required>
        <button type="submit">Generar Gráfico</button>
    </form>

        <h1>Gráfico de Datos</h1>
        {{#total_jugadores}}
            <img src="\public\img\grafico\{{total_jugadores}}" alt="Gráfico de Datos">
        {{/total_jugadores}}

        <!-- Mostrar la lista de datos -->
        <div>
            <p>Lista de Datos</p>
            <ul>
                {{#datos}}
                    <li>{{nombre}}: {{valor}}</li>
                {{/datos}}
            </ul>
        </div>
    </div>
</div>
<div class="w3-center">
    <a  href="/admin/get" class="boton-perfil w3-button w3-round-xxlarge w3-gray">Atras</a>
</div>

</body>
</html>
