 <div class="encabezado w3-pink w3-center w3-padding">
    <a href="/home/get" class="w3-left"><img src="/public/img/flecha-atras.svg" class="flecha-atras"/></a>
    <h2>Ranking de Jugadores</h2>
    </div>
<table class="w3-table w3-bordered center-text">
        <thead>
            <tr class="w3-pink">
                <th>ID</th>
                <th>Nombre de Usuario</th>
                <th>Partidas Jugadas</th>
                <th>Puntaje Máximo</th>
                <th>Puntajes Acumulados</th>
                <th>QR</th>
            </tr>
        </thead>
        <tbody>
            {{#players}}
                <tr>
                    <td><p>{{id}}</p></td>
                    <td>
                        <form action="/verPerfilAjeno/get&user={{id}}" method="POST" style="display:inline;">
                            <input type="hidden" name="id" value="{{id}}">
                            <button type="submit" style="background:none;border:none;text-decoration:underline;cursor:pointer;padding:0;">
                                <p>{{nombre_de_usuario}}</p>
                            </button>
                        </form>
                    </td>
                    <td><p>{{partidas_por_jugador}}</p></td>
                    <td><p>{{max_puntaje}}</p></td>
                    <td><p>{{puntaje_acumulado}}</p></td>
                    <td><img class="qr" src="/public/img/qrs/{{id}}.png"></td>
                </tr>
            {{/players}}
        </tbody>
    </table>
<body>