 <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<h1 class="encabezado w3-pink w3-center w3-padding">Registro de usuario</h1><br><br>

 <!-- Popup de Mensaje -->
 {{#mensaje}}
 <div id="mensajePopup" class="w3-round-xxlarge"
      style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: white; padding: 20px; box-shadow: 0 0 10px rgba(0,0,0,0.5); z-index: 1000;">
     <h3 class="w3-center w3-pink w3-round-xxlarge">{{#exito}}Éxito{{/exito}}{{^exito}}Error{{/exito}}</h3>
     <p class="w3-center">{{mensaje}}</p>
     <a href="/home/get" class="w3-center w3-button w3-round-xxlarge w3-gray">Volver</a>
 </div>
 <div id="popupBackground"
      style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.5); z-index: 500;"></div>
 {{/mensaje}}


 <form action="/registro/insertar" method="post" enctype="multipart/form-data">
  <label for="nombre">Nombre:</label>
  <input type="text" id="nombre" name="nombre" class="w3-round-xxlarge">

  <label for="apellido">Apellido:</label>
  <input type="text" id="apellido" name="apellido" class="w3-round-xxlarge"><br><br>

  <label for="ano_de_nacimiento">Año de nacimiento:</label>
  <input type="text" id="ano_de_nacimiento" name="ano_de_nacimiento" class="w3-round-xxlarge">

  <label for="sexo">Sexo:</label>
  <select id="sexo" name="sexo" class="w3-round-xxlarge">
      <option value="Masculino">Masculino</option>
      <option value="Femenino">Femenino</option>
      <option value="Prefiero no cargarlo">Prefiero no cargarlo</option>
  </select><br><br>

  <label for="pais">País:</label>
    <select id="pais" name="pais" class="w3-round-xxlarge">
      <option value="Selecciona un país">Selecciona un país</option>
      <option value="Argentina">Argentina</option>
      <option value="Chile">Chile</option>
      <option value="Uruguay">Uruguay</option>
      <option value="Paraguay">Paraguay</option>
    </select>
        
  <label for="ciudad">Ciudad:</label>
  <input type="text" id="ciudad" name="ciudad" class="w3-round-xxlarge"><br><br>

  <label for="contrasena">Contraseña:</label>
  <input type="password" id="contrasena" name="contrasena" class="w3-round-xxlarge">

  <label for="confirmar_contrasena">Confirmar contraseña:</label>
  <input type="password" id="confirmar_contrasena" name="confirmar_contrasena" class="w3-round-xxlarge"><br><br>

  <label for="mail">Email:</label>
  <input type="mail" id="mail" name="mail" class="w3-round-xxlarge">

  <label for="nombre_de_usuario">Nombre de usuario:</label>
  <input type="text" id="nombre_de_usuario" name="nombre_de_usuario" class="w3-round-xxlarge"><br><br>

  <label for="foto_de_perfil">Foto de perfil:</label>
  <input type="file" id="foto_de_perfil" name="foto_de_perfil" class="w3-round-xxlarge"><br><br>

<label for="foto_de_perfil">Mapa:</label>
  <div id="map" style="width: 600px; height: 400px;"></div>
  <input type="hidden" id="latitud" name="latitud">
  <input type="hidden" id="longitud" name="longitud"><br>

  <input type="submit" value="Enviar" name="submit" class="w3-round-xxlarge w3-pink"><br><br>
</form>


 <script>

   var map = L.map('map').setView([-34.6118, -58.4173], 13); // Buenos Aires
   L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
     maxZoom: 19,
   }).addTo(map);

   var marker;

   // Intentar obtener la ubicación actual del usuario
   if (navigator.geolocation) {
     navigator.geolocation.getCurrentPosition(function(position) {
       var lat = position.coords.latitude;
       var lng = position.coords.longitude;

       // Establecer la vista del mapa en la ubicación actual del usuario
       map.setView([lat, lng], 13);

       // Añadir un marcador en la ubicación actual del usuario
       marker = L.marker([lat, lng]).addTo(map);

       // Actualizar los campos de entrada con la ubicación actual
       document.getElementById('latitud').value = lat;
       document.getElementById('longitud').value = lng;
     }, function(error) {
       console.error("Error al obtener la ubicación: " + error.message);
     });
   } else {
     console.error("El navegador no soporta la geolocalización.");
   }

   // Añadir un marcador al hacer clic en el mapa
   map.on('click', function(e) {
     if (marker) {
       map.removeLayer(marker);
     }
     marker = L.marker(e.latlng).addTo(map);
     document.getElementById('latitud').value = e.latlng.lat;
     document.getElementById('longitud').value = e.latlng.lng;
   });
 </script>

<a href="/home/get" class="w3-button w3-round-xxlarge w3-gray">Volver</a>
